<% layout('layouts/boilerplate') %>

<div class="container mx-auto col-10 px-12">
  <a type="button" class="btn btn-secondary" href="/logout">
    Log out
  </a>
  <main class="mt-5">
    <h1>Minimalistic portfolio CMS</h1>
    <div class="d-flex mt-5 mx-5 justify-content-end">
      <a href="/about-me" class="btn btn-primary m-2 float-end"
        >Edit 'About me' section</a
      >
      <a href="/slideshow" class="btn btn-warning m-2 float-end"
        >Edit slideshow</a
      >
    </div>
    <div class="my-3 py-5 row justify-content-center">
      <h2>Series:</h2>
      <div class="d-flex mt-5 mx-5 justify-content-start">
        <a href="/series/new" class="btn btn-outline-success m-2"
          >Add new series</a
        >
        <a href="/series/order" class="btn btn-outline-primary m-2"
          >Reorder series</a
        >
      </div>

      <% allSeries.map((s) => { %>
      <div class="card my-5 mx-4" style="width: 18rem">
        <img class="card-img-top mt-3" src="<%=s.cover%>" />
        <div class="card-body text-align-center">
          <h5 class="card-title text-center"><%=s.name%></h5>
          <a href="/series/<%=s.id%>/edit" class="btn btn-warning">Edit</a>
        </div>
      </div>
      <% }) %>
    </div>
  </main>
</div>

