.img-btn-div{
    display: none;
}

.image-input:last-child .img-btn-div{
display: block;
}

.image-input:first-child {
background-color: red;}

/* #series-order-list li{
    transition: background-color 1s;
} */

#series-order-list div.active {
    background-color:#325de4;
}

/* @media (pointer:coarse) {
.drag-btn-normal{
    display: none;
}
    } */

    @media (hover: none) {
        .drag-btn-touchscreen{
            display: none !important;
        }
        }

        @media not all and (hover:none) {
            .drag-btn-touchscreen{
                display: none !important;
            }
            }