/* start page */

.start-page {
  footer {
    margin-top: -10rem !important;
  }
}
.start-image {
  width: 70vw;
  margin: auto;
  padding: 5vw;
}

.start-vertical {
  padding: 5vw 10vw;
}

.slide {
  scale: 1.2;
}
.vertical-slide {
  padding: 0 10vw 0 10vw;
  margin: 0em; /* fixes the bug that causes border-like lines popping from the sides */
  scale: 1.3;
}

/* projects page */

.project-card {
  img {
    transition: opacity 0.7s;
  }
  .project-title {
    transition: color 0.7s;
  }
  &:hover,
  &:focus {
    & img {
      opacity: 0.5;
    }
    & .project-title {
      text-decoration: underline;
      text-underline-offset: 8px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

/* carousel detail styling */

.carousel {
  button {
    transition: color 0.5s;
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.carousel-image {
  margin: auto;
  display: block;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  top: 50%;
}

.vertical {
  padding: 0 10vw 0 10vw;
  margin: 0em; /* fixes the bug that causes border-like lines popping from the sides */
}

.vertical-slide {
  padding: 0 10vw 0 10vw;
  margin: 0em; /* fixes the bug that causes border-like lines popping from the sides */
  max-height: 60vh !important;
}

/* about page (had to use css because of tailwind border bug) */

.about-text > p {
  border-top: 1px solid#727579;
}

.border-color-gray {
  border-color: rgba(128, 128, 128, 0.142);
}

.fade-in-half-s {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-1s {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-2s {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-3s {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */

@media (min-width: 400px) {
  .carousel-image {
    padding: 0;
  }
  .vertical,
  .vertical-slide {
    padding: 0 12vw 0 12vw;
  }
}

@media (min-width: 512px) {
  .start-page {
    footer {
      margin-top: 3rem !important;
    }
  }
}

@media (min-width: 650px) {
  .vertical {
    padding: 0 18vw 0 18vw;
  }

}

@media (min-width: 768px) {
  .start-image {
    padding: 2vw 5vw;
  }

  .start-vertical {
    padding: 5vw 8vw;
  }

  .start-variation_1 {
    padding: 5vw 12vw 5vw 9vw;
  }
}



@media (min-width: 1024px) {
  .about-text > p {
    border-top: none !important;
    border-left: solid 1px #727579 !important;
  }

  .vertical {
    padding: 0 15vw 0 15vw;
  }

  .vertical-slide {
    transform: translateY(-12vh);
    padding: 0 15vw 0 15vw;
  }
}

@media (min-width: 1200px) {
  .vertical,
  .vertical-slide {
    padding: 0 12vw 0 12vw;
  }
}

@media (min-width: 1400px) {
  .vertical {
    padding: 0 10vw 0 10vw;
  }
}

@media (min-width: 1500px) {
  .vertical-slide {
    padding: 0 11vw 0 11vw;
  }
}



// /* start page */

// .start-image {
//   width: 70vw;
//   margin: auto;
//   padding: 5vw;
// }

// .start-vertical {
//   padding: 5vw 10vw;
// }

// /* projects page */

// .project-card {
//   img {
//     transition: opacity 0.7s linear;
//   }
//   .project-title {
//     transition: color 0.7s;
//   }
//   &:hover,
//   &:focus {
//     img {
//       opacity: 0.5 !important;
//     }
//     & .project-title {
//       text-decoration: underline;
//       text-underline-offset: 8px;
//       color: rgba(0, 0, 0, 0.6);
//     }
//   }
// }

// /* carousel detail styling */

// .carousel {
//   button {
//     transition: color 0.5s;
//     &:hover,
//     &:focus {
//       color: rgba(0, 0, 0, 0.5);
//     }
//   }
// }

// .carousel-image {
//   margin: auto;
//   display: block;
//   position: relative;
//   min-width: 100%;
//   max-width: 100%;
//   max-height: 100%;
//   height: 100%;
//   top: 50%;
// }

// .vertical {
//   padding: 0 10vw 0 10vw;
//   margin: 0em; /* fixes the bug that causes border-like lines popping from the sides */
// }

// /* about page (had to use css because of tailwind border bug) */

// .about-text > p {
//   border-top: 1px solid#727579;
// }

// .border-color-gray {
//   border-color: rgba(128, 128, 128, 0.142);
// }

// .fade-in-half-s {
//   animation: fadeInAnimation ease 0.5s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
// }

// .fade-in-1s {
//   animation: fadeInAnimation ease 1s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
// }

// .fade-in-2s {
//   animation: fadeInAnimation ease 2s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
// }

// .fade-in-3s {
//   animation: fadeInAnimation ease 3s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
// }

// @keyframes fadeInAnimation {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// /* media queries */

// @media (min-width: 400px) {
//   .carousel-image {
//     padding: 0;
//   }
//   .vertical {
//     padding: 0 12vw 0 12vw;
//   }
// }

// @media (min-width: 768px) {
//   .start-image {
//     padding: 2vw 5vw;
//   }

//   .start-vertical {
//     padding: 5vw 8vw;
//   }

//   .start-variation_1 {
//     padding: 5vw 12vw 5vw 9vw;
//   }
// }

// @media (min-width: 650px) {
//   .vertical {
//     padding: 0 18vw 0 18vw;
//   }
// }

// @media (min-width: 1024px) {
//   .about-text > p {
//     border-top: none !important;
//     border-left: solid 1px #727579 !important;
//   }
//   .vertical {
//     padding: 0 15vw 0 15vw;
//   }
// }

// @media (min-width: 1200px) {
//   .vertical {
//     padding: 0 12vw 0 12vw;
//   }
// }

// @media (min-width: 1400px) {
//   .vertical {
//     padding: 0 10vw 0 10vw;
//   }
// }
